fieldset {
    width: 600px;
    height: 450px;
    margin-top: 10px;
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 350px;
}